# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
